.container {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    width: 100%;
}

.sidebar {
    background-color: #1A55E3;
    color: white;
    grid-column: 1;
    grid-row: 1 / end;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 3fr 4fr;
}

.svg-home {
    height: 50px;
    padding: 40px;
}

.svg {
    height: 50px;
    padding: 40px;
}

.title {
    display: flex;
    align-items: center;
}

.nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.settings {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px;
}

.main-content {
    background-color:rgb(219, 217, 217);
    color: #FF0854;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

.main-content div {
    border: 2px solid goldenrod;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr;
    grid-column: 1;
}

.project-header {
    grid-column: 1 / end;
}

.project {
    grid-column: 1;
}

.projectE {
    grid-column: 2;
}

.announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px 1fr;
}

.header {
    background-color: aquamarine;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 1fr;
}

.header div {
    border: 2px solid goldenrod;
}